@font-face {
    font-family:"Lato";
    src: url("../fonts/Lato/Lato-Black.woff2") format("woff2"), url("../fonts/Lato/Lato-Black.woff") format("woff");
    font-display: swap;
    font-weight: 400;
    font-style: normal;    
}

@font-face {
    font-family:"Lato";
    src: url("../fonts/Lato/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato/Lato-Bold.woff") format("woff");
    font-display: swap;
    font-weight: 400;
    font-style: normal;    
}

@font-face {
    font-family:"Lato";
    src: url("../fonts/Lato/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato/Lato-Regular.woff") format("woff");
    font-display: swap;
    font-weight: 400;
    font-style: normal;    
}

body {
    font-family:"Lato", sans-serif;
}
.main {
    margin: 0 auto;
    max-width: 810px;
}
.h1 {
    margin-top: 150px;
    margin-bottom: 40px;
    max-width: 810px;
    max-height: 120px;
    font-weight: 900;
    font-family: 'Lato';
    font-style: normal;
    font-size: 46px;
    line-height: 130%;
    align-items: center;
    color: #1E212C;
}

.img {
    border-radius: 4px;
    margin-bottom: 60px;
    max-width: 100%;
    max-height: 100% ;
}

.text-1 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #1E212C;
    margin-bottom: 24px;
}

.text-2 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #424551;
    line-height: 25.6px;
    margin-bottom: 48px;
}

.p1 {
    margin-bottom: 20px;
}
.one {
    padding-bottom: 25px;

}
.text-3 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #1E212C;
    padding-left: 60px;
    margin-bottom: 50px;
}

.text-4, .text-5, .text-6 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #424551;
}

.text-4, .text-5 {
    margin-bottom: 25px;
} 

.text-5 {
    padding-left: 15px;
    max-width: 600px;
}
.text-6 {
    margin-bottom: 40px;
}
.two {
    display: block;
    padding: 15px 20px;
    width: 600px;
    margin: 0 auto;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    background-color: rgb(178, 211, 200);
    border-radius: 10%;
    border: 1px solid rgba(37, 78, 83);
    box-shadow: -10px -10px 20px #238676;
}
.three {
    max-width: 600px;
    max-height: 200px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 30px;
    border: solid #424551;
    padding: 25px 20px;
    border-radius: 20px;
    overflow: scroll;
    font-size: 25px;
    background-color: #a6b6f5;
    box-shadow: 10px 10px 20px #2b76b3;

}
.end {
    margin: 30px 30px;
}
.img-end {
    margin-left: 30px;
    width: 500px;
    max-height: 100%;
    outline: 5px solid #43beaa;
    border-radius: 50%;
    text-align: justify;
}
.end-2 {
    margin: 0 auto;
    display: block;
    opacity: 0.80;
    max-width: 100%; 
    max-height: 300px;
    padding: 30px;
    border-radius: 50%;
}
.start {
    font-size: 20px;
    text-transform: uppercase;
    color: #a35a07;
    font-weight: 900;
    text-align: center;
}